    .header{
        width: 100%;
        
    }
    .header #top{
        width: 100%;
        margin: 10px;
        margin-left: 205px; 
        font-size: 0.8em;
        font-weight: 1000;
        color: #777
    }
    .header #mid{
       height: 33px;
        width: 100%;
        background: #033075;         
    }
    .header #mid #mid-p{
        position: absolute; 
        right: 14%;;        
    }
    .header .mid-left li{
        float: left;
        border-right: white solid 1px;
        color: white;
        width: 131px;
        height: 15px;
        font-size: 0.8em;
        font-weight: 1000;
        margin-top: 8px;
        margin-left: 150px; 
    }
    .header .mid-left li:nth-child(2){
        margin-left: 20px;
        border:none
    }
    .header .mid-left a{
        letter-spacing: -1px;
        text-align: center;       
    }
    .header .mid-left span{
        font-size: 0.7em;
        margin-left: 3px;
    }
    .header .mid-right li{    
        float:left;
        border-right: 1px white solid;
        height: 15px;
        color: white;
        margin-top: 8px;
        padding: 0px 15px;
        font-size: 0.8em;
        font-weight: 1000;
        width: 80px;
        position: relative;
        left:420px;
        width: fit-content;       
    }
    .header .mid-right li:nth-child(5){
        border:none
    }
    .header .mid-right a{
        letter-spacing: -1px;
        text-align: center;
    }
    .header #bot{
    }
    .header #bot .gov-img{
        width: 20%;
        height: 100px;
        float: left;
    }
    .header #bot .bot-right{
        float: left;
        height: 100px;
        width: 80%;
        position: relative;
        left: 35px;

    }
    .header #bot .bot-right li{
        float: left;
        margin: 35px 30px 35px ;
        font-size: 1.3em;
        font-weight: 600;
    }
    .header #bot .bot-right input{
        border: 3px solid #3352a4;
        border-radius: 30px;
        width: 300px;
        height: 45px;
        position: relative;
        top: 25px;
        left: 35px;
    }
    
.menubar{
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    display: none;
}
.header #bot .bot-right .h-menu:hover .menubar{
    display: block;
}